.todo-item{
    width: 540px;
    border-radius: 10px;
    border: 1px solid antiquewhite;
    font-weight: 700;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 0px 12px;
}

.complited {
    background-color: #a5c0a9;
    color: whitesmoke;
    border: 1px solid #a5c0a9;
}

.todo-item__text {
    flex: 2;
}

.todo-item__checkbox {
    accent-color: #1dcf34;
}

.todo-item__button {
    height: 24px;
}